// desktop-first

// base screen size 1440px
.container {
  border: 2px solid var(--blue);
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

// screen size 1280px
@media (max-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}

// screen size 1024px
@media (max-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

// screen size 768px
@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

// screen size 480px
@media (max-width: 480px) {
  .container {
    max-width: 100%;
    padding: 0 15px;
  }
}