.option-button {
  background-color: transparent;
  border-width: 0;

  &:disabled {
    background-color: transparent;
    color: inherit;
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.active {
  border-radius: 10px;
  border: 2px solid var(--orange)
}