.option-button {
  background-color: transparent;
  border-width: 0;
  color: var(--orange);

  &:disabled {
    background-color: transparent;
    opacity: 1;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.active {
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
}