.todo-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

@mixin controls-text {
  font-weight: var(--controls-text-weight);
  font-size: var(--controls-text-size);
  line-height: var(--controls-text-line-height);
  color: var(--orange);
}

.items-left {
  @include controls-text();
}

.clear-button {
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  padding: 20px 10px;
  @include controls-text();
  
  .clear-button-children {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
}